/* CSS coded by J.Brehm */
/*intentionally listed last to overwrite conflicting css if missed*/
#meat {
	clear:both;
}

/*display links vertically*/
#linkCont {
	clear:both;
}

/*section one bg color*/
#one {
	background-color:#e4ff37;
}

/*section 2 bg color*/
#two {
	background-color:#57E6FF;
}

/*section 3 bg color*/
#three {
	background-color:#FF62F8;
	font-family:Verdana, Geneva, sans-serif
}

