
body {
	/*browsers not supporting multiple bg's will still write this first, ignore other*/
	background: url(back.png) 0 0 no-repeat;

/* Multi-background supporting browsers */
background:
   url(top.png) 0 0 no-repeat,
   url(middle.png) 100% 0 no-repeat,
   url(back.png) 0 100% no-repeat;
}
iframe {
     border-width:0;
     width: 800px;
     height:600px;
     max-width:100%;
}

#vidLinks ul ,#bod ul, #ofcCont ul{
	list-style-type:none;
}

#contactCont {
	text-align:center;
}

#photos img {
	box-shadow: 5px 5px 25px #000;	
}